html, body {
    margin: 0px;
    padding: 0px;
}

#container {
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: 0.8fr 1fr 1fr 1fr;
    grid-template-rows: 65px 1fr 1fr 50px;
    grid-template-areas:
        "navbar navbar navbar navbar"
        "sidebar main main main"
        "sidebar content-1 content-2 content-3"
        "footer footer footer footer";
    grid-gap: 5px;
}

#navbar {
    background-color: #00f0f0;
    grid-area: navbar;
}

#sidebar {
    background-color: #00e0e0;
    grid-area: sidebar;
}

#main {
    background-color: #00d0d0;
    grid-area: main;
    min-height: 500px;
}

.content {
    background-color: #00c0c0;
    min-height: 300px; /*jogar esta linha para seletor responsivo*/
}

#content-1 {
    grid-area: content-1;
}

#content-2 {
    grid-area: content-2;
}

#content-3 {
    grid-area: content-3;
}

#footer {
    background-color: #00b0b0;
    grid-area: footer;
}


@media(max-width: 800px) {
    #container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 65px 1fr 1fr 1fr 1fr 1fr 1fr 50px;
        grid-template-areas:
            "navbar"
            "main"
            "sidebar"
            "content-1"
            "content-2"
            "content-3"
            "footer";
    }
}